:root {
    --ratio: 1;
    --fs-xs: calc(0.75rem / var(--ratio));
    --fs-s: calc(0.875rem / var(--ratio));
    --fs-base: calc(1rem / var(--ratio));
    --fs-l: calc(1.125rem / var(--ratio));
    --fs-xl: calc(1.25rem / var(--ratio));
    --fs-2xs: calc(1.5rem / var(--ratio));
    --fs-3xs: calc(1.6875rem / var(--ratio));
    --fs-4xs: calc(2.25rem / var(--ratio));
    --fs-5xs: calc(3rem / var(--ratio));
    --fs-6xs: calc(2.625rem / var(--ratio));
    --base-color: #2B3138;
    --other-color: #5B6066;
    --black-color: #111314;
    --blue-color: #0063ff;
    --white-color: #ffffff;
    --white-2color: #fafafa;
    --white-3color: #f0f1f2;
    --orange-color: #ff695c;
    --ff-base: 'Roboto', sans-serif;  
    --lh-xs: 0.9375rem;
    --lh-s: 1.375rem;
    --lh-md: 1.5625rem;
    --lh-l: 1.625rem;
    --lh-xl: 1.6875rem;
    --lh-2xl: 1.75rem;
    --lh-3xl: 1.8125rem;
    --lh-4xl: 2.125rem;
    --lh-5xl: 3.25rem;
    --lh-base: 1.0rem;
    --btn-bg: transparent;
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: var(--ff-base);
    line-height: var(--lh-base);
    font-family: var(--ff-base);
    font-weight: 400;
    box-sizing: border-box;
    color: var(--base-color);
}

img {
    vertical-align: middle;
    width: 100%;
    border: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--base-color);
}

ol,ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    outline: 0;
    padding: 0;
}
